<div class="footer mt-5">
    <div class="container main d-flex p-3">
        <div class="address col-3 p-4 pb-0">
            <h6 class="heading">Registered Office Address</h6>
            <p class="ms-2 mt-3 text">Office no. 1244/45, Dhavalshree Apt. Near Aapte Sabhagruh, Aapate Road, Deccan Gymkhana Deccan,Pune,411005</p>
            <p class="ms-2 text"><a href="callto:8988984343">+91 898 898 43 43</a></p>
            <p class="ms-2 text"><a href="mailto:sharemarketkranti@gmail.com">sharemarketkranti&#64;gmail.com</a></p>
            <p class="ms-2 text"><a>&copy; 2024 Share Market Kranti</a></p>
        </div>
        <div class="links col-3 p-4 pb-0">
            <h6 class="heading">Useful Links</h6>
            <p class="ms-2 text mt-3"><a href="">> Home</a></p>
            <p class="ms-2 text"><a href="">> About Us</a></p>
            <p class="ms-2 text"><a href="">> Terms and Conditions</a></p>
            <p class="ms-2 text"><a href="">> Privacy Policy</a></p>
            <p class="ms-2 text"><a href="">> Refund Policy</a></p>
        </div>
        <div class="training col-3 p-4 pb-0">
            <h6 class="heading">Online/Offline Traning</h6>
            <p class="ms-2 text mt-3"><a href="">> 
                Equity Market</a></p>
            <p class="ms-2 text mt-3"><a href="">> 
                Commodity Market</a></p>
            <p class="ms-2 text mt-3"><a href="">> 
                Currency Market</a></p>
            <p class="ms-2 text mt-3"><a href="">> Derivatives Market</a></p>
            <p class="ms-2 text mt-3"><a href="">> 
                Technical Analysis</a></p>
        </div>
        <div class="social col-3 p-4 pb-0">
            <h6 class="heading">Our Social Networks</h6>
            <p class="ms-2 text mt-3">Join us on our YouTube channel "SharemarketKranti"</p>
            <div class="icon d-flex">
                <div class="1 x ms-2 rounded-circle"><a href=""></a></div>
                <div class="2 x ms-2 rounded-circle"><a href=""></a></div>
                <div class="3 x ms-2 rounded-circle"><a href=""></a></div>
                <div class="4 x ms-2 rounded-circle"><a href=""></a></div>
                <div class="5 x ms-2 rounded-circle"><a href=""></a></div>
            </div>
        </div>
    </div>
    <hr class="container">
    <div class="msg container pb-3 pt-3">
        <p class="text">Investor Alert</p>
        <p class="text">1. KYC is one time exercise while dealing in securities markets - once KYC is done through a SEBI registered intermediary (Broker, DP, Mutual Fund etc.), you need not undergo the same process again when you approach another intermediary<br>
            2. For Stock Broking Transaction 'Prevent unauthorised transactions in your account --> Update your mobile numbers/email IDs with your stock brokers. Receive information of your transactions directly from Exchange on your mobile/email at the end of the day...Issued in the interest of Investors.<br>
            3. For Depository Transaction 'Prevent Unauthorized Transactions in your demat account --> Update your Mobile Number with your Depository Participant. Receive alerts on your Registered Mobile for all debit and other important transactions in your demat account directly from CDSL/NSDL on the same day...Issued in the interest of investors.<br>
            4. No need to issue cheques by investors while subscribing to IPO. Just write the bank account number and sign in the application form to authorise your bank to make payment in case of allotment. No worries for refund as the money remains in investor's account.<br>
            5. Investors should be cautious on unsolicited emails and SMS advising to buy, sell or hold securities and trade only on the basis of informed decision. Investors are advised to invest after conducting appropriate analysis of respective companies and not to blindly follow unfounded rumours, tips etc. Further, you are also requested to share your knowledge or evidence of systemic wrongdoing, potential frauds or unethical behaviour through the anonymous portal facility provided on BSE & NSE website.
           - [Designed & Developed by Ganesh Thombare | <a class="text" style="text-decoration: none" href="https://technoartz.com" target="_blank">Technoartz IT Solutions Pvt. Ltd</a>]
        </p>
        <p class="text text-end"></p>
    </div>
</div>